@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'fonts.scss';
@import "mobilemenu.scss";
@import "team.scss";

body {
    @apply text-gray-700;
}

.hover-2 {
    top: -71px;
}
.hover-3 {
    top: -142px;
}

.gradient {
    background-image: linear-gradient(0deg, rgba(13, 78, 226, 0.2) 30%, rgba(253, 24, 68, 0.89) 150%);
}

.bg-gradient, button.bg-gradient {
    background-image: linear-gradient(0deg, #a434b1 0%, #e53352 100%);
}

.bg-footer {
    background-image: url(/img/footer-bg.png);
    background-repeat: no-repeat;
    background-position: bottom
}

#frmSignup,
#success {
    background: #2c2629;
    width: 393px;
    height: 444px;
    font-family: Montserrat;
    text-align: center;
    padding: 10px;
}

.blocker {
    box-sizing: initial !important;
    background-color: black !important;
}

.menu {margin-top:-70px;}

#mobile .btn,
.modal .btn {
    background: #e53352;
    font-family: Montserrat;
    font-size: 16px;
    color: #fff;
    padding: 8px;
    border: 0;
    border-radius: 10px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 20px;
    width: 100%;
    margin: 20px 0px;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, #e53352, #ab34a6);
}

/* modal  */
#video {
    background: none !important;
}

.modal {
    .join {
        color: #fff;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 600;
        padding: 20px 0;
    }
    input {
        display: block;
        background: transparent;
        border: 1px solid #848484;
        height: 55px;
        border-radius: 5px;
        color: #fff;
        margin: 15px 0px;
        padding: 5px 25px;
        width: 100%;
        font-weight: bold;
        font-size: 15px;
    }
    .txt {
        color: #d2336d;
        font-size: 12px;
        font-weight: normal;
        bottom: 30px;
        position: absolute;
    }
    a.close-modal {
        top: -40px !important;
        right: 0 !important;
    }
}

#mobile {
    .battle {
        position: absolute;
        bottom: 15%;
        left: 0px;
        margin: 5px auto;
        width: 536px;
        right: 0;
        text-align: center;     

        @media only screen and (max-width: 834px) {
            width: 425px;
        }

        @media only screen and (max-width: 768px) {
            width: 390px;
        }

        @media only screen and (max-width: 480px) {
            width: 370px;
            bottom: 17%;
        }

        @media only screen and (max-width: 390px) {
            width: 345px;
            bottom: 16%;
        }

        @media only screen and (max-width: 375px) {
            width: 330px;
        }
    }
    .txttop {
        position: absolute;
        top: 55%;
        color: #c1bdbc;
        left: 22%;
        font-size: 15px;
        font-family: Montserrat;
        text-align: center;
        line-height: 25px;
        width: 562px;

        @media only screen and (max-width: 834px) {
            left: 16%;
        }

        @media only screen and (max-width: 480px) {
            top: 48%;
            left: 18%;
            font-size: 12px;
            width: 292px;
        }

        @media only screen and (max-width: 375px) {
            left: 13%;
        }
    }
    #signup {
        position: absolute;
        bottom: 10%;
        left: 0;
        text-align: center;
        right: 0;
        margin: 0 auto;
        width: 50%;
        margin: 23px auto;

        @media only screen and (max-width: 480px) {
            width: 90%;
        }
    }
}
