@import '@fortawesome/fontawesome-free/scss/brands';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

@font-face {
    font-family: 'Kurhosia';
    src: url('../fonts/KurhosiaRegular.woff') format('woff'),
        url('../fonts/KurhosiaRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'atomosregular';
    src: url('../fonts/atomos-regular-webfont.eot');
    src: url('../fonts/atomos-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/atomos-regular-webfont.woff2') format('woff2'),
        url('../fonts/atomos-regular-webfont.woff') format('woff'),
        url('../fonts/atomos-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'estricta_regularregular';
    src: url('../fonts/fontsfree-net-estricta-regular-webfont.eot');
    src: url('../fonts/fontsfree-net-estricta-regular-webfont.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/fontsfree-net-estricta-regular-webfont.woff2') format('woff2'),
        url('../fonts/fontsfree-net-estricta-regular-webfont.woff') format('woff'),
        url('../fonts/fontsfree-net-estricta-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QB One';
    src: url('../fonts/QBOne-Regular.woff') format('woff'),
        url('../fonts/QBOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.kurhosia {
    font-family: 'Kurhosia';
}

.montserrat {
    font-family: 'Montserrat';
}
.qb-one {
    font-family: 'QB One';
}

