
.mobile-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgb(169, 52, 168);
    background: linear-gradient(
        0deg,
        rgba(169, 52, 168, 1) 0%,
        rgba(229, 51, 82, 1) 100%
    );
    top: 0;
    left: 0;

    .close {
        font-size: 50px;
        color: #f7f7f7;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: -15px;
        margin-right: 15px;
    }

    .logo{
        margin-left: -15px;
    }

    .menu-container {
        margin-left: 55px;

        .item {
            padding: 10px 0;
            display: block;
            float: right;
            margin-right: -20px;

            .social {
                margin-top: 15px;

                .button span {
                    margin-top: -5px;
                }
            }

            .button {
                background: rgba(0, 0, 0, 0.34);
                border: none;
                border-radius: 20px;
                color: white;
                text-align: left;
                text-decoration: none;
                display: inline-block;
                font-size: 30px;
                width: 920px;
                height: 61px;

                span {
                    vertical-align: middle;
                    padding-left: 30px;
                    display: flex;
                    font-family: 'atomosregular';
                    font-size: 41px;
                    align-items: center;
                    height: 100%;

                    .fab {
                        font-size: 20px;
                    }
                }

                @media only screen and (max-width: 480px) {
                    width: 360px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .menu {margin-top:-50px!important;}
 }

@media only screen and (max-width: 480px) {
   .menu {margin-top:-50px!important;}
   .menu .logo{margin-left: -15px;
}
}