.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    position: absolute;
    top: 40%;
    width: 80%;
    left: 10%;
    scrollbar-color: #e53352 #000;

    @media only screen and (max-width: 480px) {
        top: 52%;
        width: 100%;
        left: 0;
    }

    div {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }
    span {
        display: block;
        font-family: 'estricta_regularregular';
        font-size: 14px;
        color: #f7eff0;
    }
    a:hover {
        background-color: #777;
    }
}

/* team  */
/* .wrapper {width: 50%;margin: 0 auto;}
.group {width:50%!important;}
.group span {display: block;font-family: Estricta;font-size: 14px;color:#F7EFF0;}
.group div{padding:10px 20px;display: inline-block;} */
// #team-mobile {
//     display: none;
// }
